	<div class="col col-sm-6 col-questions">
			<h3>Would love you input!</h3>

			<label for="username" class="input-label">Your Name<br /><input class="form-control" id="username" /></label><br />

			<label for="convinced" id="q1" class="input-label">What was the most convincing detail of this post?<br /><input class="form-control" id="convinced" /></label><br />

			<label for="Makeyoulaugh" id="q2" class="input-label">What made you laugh?<br /><input class="form-control" id="Makeyoulaugh" /></label><br />

			<label for="comeAgain" id="q3" class="input-label">Would you continue reading the Onion?<br /><textarea class="form-control" id="comeAgain"></textarea></label><br />

			<button type="button" class="btn btn-large btn-save-opinion">Submit Input</button>

			<button type="button" class="btn btn-large btn-show-opinions">View Other Input</button>

		</div><!-- /col-questions -->